@charset "uft-8";

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Bebas+Neue&family=Lora:ital,wght@0,700;1,700&display=swap');

:root {
    /* colors */
    --colorWhite: #F2F2F2;
    --colorBlack: #0F0F0F;

    --colorBlue: #0D518C;
    --colorGreen: #127334;
    --colorOrange: #F28322;
    --colorOrange1: #F25F29;

    /* fonts */
    --fontMain: 'Assistant', sans-serif;
    --fontLogo: 'Bebas Neue', cursive;
    --fontText: 'Lora', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;

    display: grid;
    grid-template-rows: 10% 90%;

    font-family: var(--fontMain);
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: var(--colorWhite);
    cursor: default;
    user-select: none;
}

.logo_text {
    font-family: var(--fontLogo);
    font-size: 2.5em;
    color: var(--colorBlue);
}

.img_perfil {
    height: 70%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    transition: ease 0.2s;
}

.img_perfil:hover {
    box-shadow: 2px 2px 5px gray;
    transition: ease 0.2s;
}

.btn_exit {
    padding: 3px 10px;
    background-color: var(--colorOrange1);
    border: 2px solid var(--colorBlack);
    font-size: 0.8em;
    font-weight: bold;
    color: var(--colorWhite);
    transition: ease 0.2s;
    cursor: pointer;
}

.btn_exit:hover {
    background-color: red;
    transition: ease 0.2s;
}

.navbar, li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-weight: bolder;
    font-size: 1.1em;
}

.type_text {
    background-color: var(--colorGreen);
    padding: 3px 10px;
    border-radius: 5px;
    color: var(--colorWhite);
}

.navbar_conteiner, .navbar, .conteiner_imgPerfil {
    height: 100%;
}